body{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 125px 1fr;
}

header{
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.header-upper-section{
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 20px 600px 20px 30px 1fr;
    gap: 25px;
}

.search-textbox{
    background-color: lightgray;
    border-radius: 12px;
    width: 400px;
    height: 20px;
    border: none;
}

.header-lower-section{
    display: grid;
    grid-template-columns: 60px 1fr 80px 80px 80px;
    gap:20px;
}


.header-avatar{
    margin-left: 15px;
}

.header-text> h3{
margin-top: 2px;
}

.header-buttons{
    color:white;
    background-color: #1F84EA;
    border-radius: 15px;
    height: 30px;
    width:80px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

sidebar{
    background-color: lightblue;
    grid-column:1 ;
    grid-row: 1/3;
    padding: 15px;
    display: grid;
    grid-template-rows: 50px repeat(6,30px) 70px repeat(3,30px);
    gap: 10px;
    align-items: center;
}

sidebar>div>img{
    vertical-align: middle;
}

main{
    background-color:lightgray;
    display: grid;
    grid-template-columns: 1fr 230px;
}

.projects{
    display: grid;

    grid-template-rows: 25px 1fr;
    gap: 15px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
}
.projects>h2{
    grid-row: 1;
    margin: 15px;
}

.projects>.cards{
    grid-row: 2;
}

.card{
height: 250px;
width: 165px;
padding: 10px;
margin: 10px;
border-left: 7px solid goldenrod;
background-color: white;
border-radius: 5px;
}

.card-options{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    gap: 10px;
}

.card-options>img{
    cursor: pointer;
}

.announcements-and-trending-outer-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
}

.announcements-container{
    display: grid;
    grid-template-rows: 50px 1fr;
}

.announcements-container>h3,
.trending-container>h3{
    margin-left: 15px;
}

.announcements,
.trending{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.avatar-container{
    height: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.avatar{
width: 40px;
height: 50px;
margin-right: 15px;
}

.avatar-info>span{
font-weight: 700;
}

.avatar-info>div{
    color: gray;
}
