body{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
}

header{
    background-color: whitesmoke;
    grid-column: 2;
    grid-row: 1;

}

sidebar{
    background-color: lightblue;
    grid-column:1 ;
    grid-row: 1/3;
    padding: 15px;
    display: grid;
    grid-template-rows: 50px repeat(6,30px) 70px repeat(3,30px);
    gap: 10px;
    align-items: center;
}

sidebar>div>img{
    vertical-align: middle;
}

main{
    background-color:lightgray;
    display: grid;
    grid-template-columns: 1fr 150px;
}

.main1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
}

.card{
height: 200px;
width: 180px;
padding: 10px;
margin: 10px;
border: 1px solid black;
}

.main2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
}

.announcements,
.trending{
    border: 1px solid black;
    margin: 10px;
}